body {
    margin: 0;
    padding: 0;
}
#browse {
    cursor: move;
    position: fixed;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
}
@import "Browse.less";
@import "EditPanel.less";
@import "CyPanel.less";
